body {
    font-family: 'Poiret One', cursive;
    background-repeat: no-repeat;
}
#titleA {
    color: darkolivegreen;
}
#titleB {
    color: darkslategray;
}

.container4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
      
}

.grid1 {
  display: inline;
  /* float: left; */
  margin-left: 10px;
  margin-right: 10px;
}