body {
    font-family: Armata;
    background-repeat: no-repeat;
}
#titleA {
    font-family: 'Poiret One', cursive;
    color: darkolivegreen;
}
#titleB {
    font-family: 'Poiret One', cursive;
    color: darkslategray;
}

.container4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
      
}

.grid1 {
  display: inline;
  /* float: left; */
  margin-left: 10px;
  margin-right: 10px;
}
#rf {
    size: 12px;
    color: darkslategray;
}
#recycle {
    border-radius: 51%;
    box-shadow: 0px 0px 0px 1px #da165a;
}
#avail {
    border-radius: 51%;
    box-shadow: 0px 0px 0px 1px #da165a
}
#design {
    border-radius: 51%;
    box-shadow: 0px 0px 0px 1px #da165a;
}
#develop {
    border-radius: 51%;
    box-shadow: 0px 0px 0px 1px #da165a;
}
#p {
    size: 12px;
    color: darkolivegreen;
}